@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-list {
  padding: 0 0 0 0px !important;
}

.slick-arrow.slick-next {
  top: -48%;
  right: 67%;
  visibility:hidden !important;
}
.slick-arrow.slick-prev {
  top: -48%;
  left: 30%;
  visibility:hidden !important;
}



@media screen and (max-width: 1600px) {
  .slick-track .slick-slide {
    padding-right: 50px;
  }
}
@media screen and (max-width: 767px) {
  .slick-track .slick-slide {
    padding-right: 20px;
  }
}

@media screen and (max-width: 1500px) {
  /* client slider */
#client-slider .slick-track .slick-slide {
  padding: 0 10px !important;
}
}
@media screen and (max-width: 600px) {
  /* client slider */
#client-slider .slick-track .slick-slide {
  padding: 0 0 !important;
}
}


/* client slider */
#client-slider .slick-track .slick-slide {padding: 0 38px;}